.review-rating-container {
    margin:20px 0px;
    display: flex;
    flex-wrap: wrap;

    .review-rating-line {

        .review-rating-item {
            margin-right: 200px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            gap:100px;

            h3 {
                font-size: rem(14px);
                width: 150px;
            }
        }
    }
}
