.date-range-calender {
    position: absolute;
    border-radius: 30px;
    font-family: f-bold;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
    z-index: 5;
    width: 100%;
    top: 115%;

    &.reserve-modal{
        position: absolute;
        z-index: -3;
        right:0;
    }

    .rdrDateDisplayWrapper {
        display: none;
    }
    .rdrMonthAndYearWrapper {
        padding: 10px 50px;
    }

    .rdrWeekDay {
        font-size: rem(12px);
    }

    .rdrMonths {
        justify-content: space-evenly;
    }

    .rdrMonthName {
        display: flex;
        justify-content: center;
        font-size: rem(16px);
    }

    .rdrMonthPicker select {
        font-size: rem(16px);
        font-family: f-medium;
    }

    .rdrYearPicker select {
        font-size: rem(16px);
        font-family: f-medium;
    }

    .rdrDay {
        font-size: rem(16px);

        &:hover {
            color: $clr5;
        }
    }

    .rdrDayNumber {
        border-radius: 50%;
        &:hover {
            background-color: #000000;
            color: $clr5;
        }
    }
}
