.stay-list {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    row-gap: 50px;

    .stay-preview {
        // display: flex;
        // flex-direction: column;
        text-decoration: none;
        color: inherit;
        font-size: rem(18px);
    }

    img {
        height: 220px;
        border-radius: 15px;
    }
}
