@font-face {
    font-family: Carealblack;
    src: url(../../font/AirbnbCerealBlack.woff);
}
@font-face {
    font-family: Carealbold;
    src: url(../../font/AirbnbCerealBold.woff);
}
@font-face {
    font-family: Carealbook;
    src: url(../../font/AirbnbCerealBook.woff);
}
@font-face {
    font-family: Carealextrabold;
    src: url(../../font/AirbnbCerealExtraBold.woff);
}
@font-face {
    font-family: Careallight;
    src: url(../../font/AirbnbCerealLight.woff);
}
@font-face {
    font-family: Carealmedium;
    src: url(../../font/AirbnbCerealMedium.woff);
}