// Colors
$clr1: #ce2e6c;
$clr2: #092f32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;


// Breakpoints
$break-mobile: 400px;
$break-narrow: 560px;
$break-tablet: 720px;
$break-normal: 960px;
$break-large: 1200px;
$break-wide: 1800px;
