// Colors
$clr1: #FF385C;
$clr2: #222222;
$clr3: #717171;
$clr4: #303030;
$clr5: #FFFFFF;
$clr6: #F7F7F7;
$clr7: #DDDDDD;



// Breakpoints
$break-mobile: 400px;
$break-narrow: 560px;
$break-tablet: 720px;
$break-normal: 960px;
$break-large: 1200px;
$break-wide: 1800px;
