// Colors
$clr1: #FF385C;
$clr2: #222222;
$clr3: #717171;
$clr4: #303030;
$clr5: #FFFFFF;
$clr6: #F7F7F7;
$clr7: #DDDDDD; 
$clr8: #7e7e7e;
$clr9:#ebebeb;
$clr10:#e7e7e7;



// Breakpoints
$break-mobile: 350px;
$break-narrow: 480px;
$break-tablet: 620px;
$break-normal: 820px;
$break-large: 1100px;
$break-wide: 1300px;




