.host-stay-container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #dddddd;
    @include for-normal-layout {
        display: block;
        border: none;
    }
    .table-headers {
        display: grid;
        grid-template-rows: repeat(7, minmax(100px, 1fr));
        grid-template-columns: repeat(1, minmax(100px, 150px));
        padding: 10px;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        @include for-normal-layout {
            grid-template-columns: repeat(7, minmax(100px, 1fr));
            grid-template-rows: none;
            padding: 10px 5px;
            border-radius: 5px;
        }
        background-color: $clr12;
        justify-items: center;
        align-items: center;
    }

    .host-stay-info {
        display: grid;
        justify-items: center;
        text-align: center;
        grid-template-rows: repeat(7, minmax(100px, 1fr));
        grid-template-columns: repeat(1, minmax(100px, 150px));
        padding: 5px 10px;
        border-right: 1px solid $clr7;
        @include for-normal-layout {
            grid-template-columns: repeat(7, minmax(100px, 1fr));
            grid-template-rows: none;
            padding: 5px 0px 5px 5px;
            box-shadow: 0 1px 0 $clr7;
            border: none;
        }
        align-items: center;
        font-size: rem(14px);
        color: $clr3;
        div {
            white-space: nowrap;
            text-overflow: ellipsis;
            &:first-of-type {
                width: 100%;
                overflow: hidden;
            }
            &:last-of-type {
                cursor: pointer;
                background-color: $clr1;
                padding: 5px 10px;
                border-radius: 8px;
                border: 1px solid $clr5;
                transition: 0.3s;
                color: $clr5;
                @include for-normal-layout {
                    justify-self: end;
                }
                &::before {
                    content: "X";
                }
                @include for-tablet-layout {
                    &::before {
                        content: "Remove stay";
                    }
                }
                &:hover {
                    border: 1px solid $clr2;
                    background-color: #ff385ccf;
                    transition: 0.3s;
                }
            }
        }
    }
}

.confirm-delete-container {
    .confirm-delete-text {
        font-size: rem(18px);
        text-align: center;
        .delete-permanently {
            margin-block-end: 24px;
            font-family: f-bold;
            text-decoration: underline;
        }
        p {
            margin-bottom: 25px;
        }

        position: absolute;
        left: 50%;
        top: 36%;
        transform: translate(-50%, 0);
        z-index: 100;
        color: $clr4;
        padding: 30px;
        background-color: $clr5;
        border: 3px solid $clr1;
        border-radius: 8px;
        div {
            justify-content: space-around;
            .confirm-delete,
            .decline-delete {
                // width: 80px;
                text-align: center;
                font-family: f-medium;
                cursor: pointer;
                border-radius: 4px;
                padding: 7px 40px;
                background-color: $clr1;
                color: $clr5;
                &:hover {
                    //   background-color: $clr1;
                    //   color: $clr5;
                    opacity: 0.7;
                }
            }
            .decline-delete {
                color: $clr5;
                background-color: $clr12;
                &:hover {
                    //   background-color: $clr1;
                    //   color: $clr5;
                    opacity: 0.7;
                }
            }
        }
    }
}
