table {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    font-family: f-light;
    tr {
        th {
            padding: 10px 10px;
        }
        td {
            padding: 10px 10px;
        }
    }
}
