.order-container {
  border: 1px solid $clr7;
  border-radius: 12px;
  padding: 20px;
  margin: 0px auto 10px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

  span {
    padding: 0 0;
    margin: 0 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: sans-serif;
  }
}

.order-form-header {
  margin-block-start: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-block-end: 30px;
  .reserve-ratings {
    font-family: f-light;
    font-weight: 500;
  }

  img {
    width: 12px;
    height: 12px;
    filter: invert(56%) sepia(80%) saturate(6258%) hue-rotate(328deg)
      brightness(100%) contrast(103%);
  }
  .dot {
    color: $clr2;
  }
}

.order-data {
  border: 1px solid #00000050;
  border-radius: 13px;
  margin-bottom: 15px;

  label {
    text-align: left;
    font-weight: 600;
    font-size: 0.75em;
  }
}

.date-picker {
  display: flex;
  justify-content: space-between;
}

.date-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px 12px;
  &:last-of-type {
    border-left: 1px solid #00000050;
  }
  :hover {
    cursor: pointer;
  }

  input {
    border: none;
    padding: 0 0;
    width: 90%;
    outline: none;
  }
}

.guest-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid #00000050;
  padding: 7px 12px;
  :hover {
    cursor: pointer;
  }
  input {
    border: none;
    padding: 0 0;
    width: 50%;
    outline: none;
  }
}

span.cost {
  color: black;
  font-size: 1.3em;
}

span.reviews {
  color: $clr2;
  font-size: rem(14px);
  text-decoration: underline;
  font-weight: unset;
  // font-family: f-light;
}

.btn-container {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
  border: none;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  @for $i from 0 to 10 {
    .cell:nth-child(10n + #{$i + 1}):hover ~ .content {
      --positionX: #{$i};
    }

    .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover
      ~ .content {
      --positionY: #{$i};
    }
  }
  &.disabled {
    pointer-events: none;
    .content {
      background-image: unset;
      background-color: gray !important;
    }
  }
}

.cell {
  width: 100%;
  height: 100%;
  z-index: 1;
  // border: 1px solid rgba(128, 128, 128, 0.753);
}

.content {
  span {
    color: $clr5 !important ;
  }
  --positionX: 0;
  --positionY: 5;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;

  background-image: radial-gradient(
    circle at calc((0 + var(--positionX, 0)) * 10%)
      calc((0 + var(--positionY, 0)) * 5%),
    rgb(241, 37, 75) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
}

.action-btn {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

p.footer {
  color: $clr3;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 18px;
  img {
    display: flex;
    height: 13px;
    width: 14px;
    filter: invert(49%) sepia(0%) saturate(1334%) hue-rotate(167deg)
      brightness(88%) contrast(89%);
    margin-inline-end: 7px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $clr3;
    font-size: (14px);
    font-family: f-medium;
  }
}

.reserve-charge-breakdown {
  .reserve-charge-row {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 17px;
    font-size: rem(16px);
    line-height: 20px;

    .reserve-charge-txt {
      color: $clr8;
      font-family: f-light;
      text-decoration: underline $clr8;
    }

    .reserve-charge-sum {
      font-family: f-light;
      color: $clr8;
    }
  }

  .reserve-charge-total {
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: f-medium;
    padding-top: 20px;
    font-size: rem(16px);
    line-height: 20px;
    border-top: 1px solid $clr7;
    color: $clr2;
  }
}
