.stay-preview {
    // @include aspect-ratio(1,1);

    aspect-ratio: 1;
    text-decoration: none;
    color: inherit;
    font-size: rem(18px);
    // max-width: 310px;

    .stay-card {
        display: flex;
        flex-direction: column;
        height: 100%;

        .slider {
            flex-grow: 1;
            height: 0;

            .slick-slider{
                height: 100%;

                .slick-list{
                    height: 100%;

                    .slick-track{
                        height: 100%;

                        .slick-slide{
                            height: 100%;

                            > div{
                                height: 100%;
                            }
                        }
                    }
                }


            }
        }

        .stay-preview-info {
            height: 100px;
            h1 {
                font-size: rem(18px);
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            p {
                span {
                    &:first-child {
                        font-family: f-medium;
                    }
                }
            }
        }
    }

    img {
        border-radius: 15px;
        object-fit: cover;
        height: 100%;
    }

    button{

        
        &.slick-next {
            right: 10px;
        }
        
        &.slick-prev {
            bottom: 10px;
            color: $clr5;
        }
    }
}
