.stay-preview {
    aspect-ratio: 1;
    text-decoration: none;
    color: inherit;
    font-size: rem(18px);
    position: relative;

    .like {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 24px;
        width: 24px;
        stroke: white;
        stroke-width: 2px;
        overflow: visible;
    }
    .stay-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        img {
            border-radius: 15px;
            object-fit: cover;
            height: 100%;
        }

        .slider {
            flex-grow: 1;
            height: 0;
            button {
                &.slick-next {
                    opacity: 0;
                    right: 10px !important;
                }
                &.slick-prev {
                    opacity: 0;
                    left: 10px !important;
                }
            }
            .slick-slider {
                height: 100%;
                position: relative;
                .slick-dots li {
                    margin: 0;
                    width: 15px;
                    button {
                        width: 15px;
                        &:before {
                            color: $clr5;
                            &:hover {
                                color: $clr5;
                            }
                        }
                    }
                    bottom: 30px;
                }
                .slick-list {
                    height: 100%;

                    .slick-track {
                        height: 100%;

                        .slick-slide {
                            height: 100%;

                            > div {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        &:hover {
            .slick-arrow {
                position: absolute;
                opacity: 0.85 !important;
                color: $clr5;
                z-index: 99;

                &:hover {
                    opacity: 1;
                }
                &.slick-prev {
                    bottom: 10px;
                }

                &.slick-next {
                    &:focus::before {
                        opacity: 0.85 !important;
                    }
                    &:focus:hover::before {
                        opacity: 1 !important;
                    }
                }
            }
        }

        .stay-preview-info {
            height: 100px;
            padding-block-start: 7px;
            line-height: 1.31em;

            > div {
                gap: 4px;
            }

            .star {
                height: 15px;
                width: 12px;
                line-height: 1;
                border-radius: 0;
                padding-block-end: 0.15em;
                filter: invert(37%) sepia(56%) saturate(3663%) hue-rotate(327deg) brightness(101%) contrast(110%);
            }
            h3 {
                font-size: rem(16px);
                font-weight: 300;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            span {
                font-size: rem(14px);
                color: $clr2;

                &.review-count {
                    font-size: rem(14px);
                    color: $clr8;
                }
            }

            p {
                span {
                    font-size: 1rem;
                    margin: 0;
                    &:first-child {
                        font-family: f-medium;
                    }
                }
            }
        }
    }
}
