.host-page-nav {
  display: flex;
  padding: 30px 0px;
  box-shadow: 0px 0.5px 0px $clr9;
  margin-block-end: 30px;
  gap: 20px;
  justify-content: center;
  >*{
    cursor: pointer;
    padding: 10px 16px;
    border: 1px solid $clr7;
    border-radius: 50vw;
    transition: 0.3s;
    &:hover{
      transition: 0.3s;
      border-color: $clr10;
    } 
    &.btn-active{
      transition: 0.3s;
      background-color: $clr1;
      color: $clr5;
    }
  }
}

.guest-host-modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  flex-direction: column;
  z-index: 10;
  color: $clr4;
  padding: 15px;
  background-color: $clr6;
  border: 2px solid $clr1;
  border-radius: 8px;
  align-items: center;
  p {
    text-align: center;
    line-height: 1.5;
  }
  p:last-of-type {
    margin-block-end: rem(20px);
  }
  p:first-child {
    margin-block-end: 5px;
    font-family: f-bold;
  }
  div:last-of-type {
    font-family: f-medium;
    cursor: pointer;
    padding-top: 8px;
    border-radius: 4px;
    padding: 7px;
    background-color: $clr1;
    color: $clr5;
    &:hover {
      color: $clr1;
      background-color: $clr7;
    }
  }
  .guest-modal-content {
    margin-top: 8px;
  }
}
