header {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    background-color: $clr5;
    color: $clr5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 176px;
    z-index: 100;

    &.home-page {
        background-color: black;
    }

    // MINI HEADER
    &.mini-header {
        background-color: $clr5;
        height: 80px;
        padding-block-end: unset;
        box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important;

        .menu-actions a {
            color: $clr2;
        }

        .logo-container {
            h2 {
                color: $clr1;
            }

            .logo {
                color: $clr1;
            }
        }

        .menu-wrapper {
            border: 1px solid $clr7;
        }

        .trip-destination span {
            display: none;
        }

        .input::placeholder {
            font-size: rem(30px);
        }

        .trip-build-container {
            width: 600px;
            transform: translate(-50%, -9%) scale(0.5);
            transition: width 0.15s, top 0.15s, transform 0.15s;
            box-shadow: 0 0 3px 2px $clr7;
            padding: 0px 20px;
            justify-content: space-evenly;
            border: 2px solid $clr7;

            &:hover {
                box-shadow: 0px 8px 7px -2px $clr7;
            }

            .trip-dates-filter {
                display: none;
            }

            form {
                .trip-location-selector {
                    padding: 25px;
                    .trip-destination input {
                        font-size: rem(30px);
                    }
                }
            }
        }

        .mini-header-filter {
            justify-content: space-between;
            align-items: center;
            .search-img-btn {
                height: 67px;
                width: 67px;
                border-radius: 50%;
                background-color: $clr1;
                align-items: center;
                justify-content: center;
                .img-container {
                    img {
                        height: 28px;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg)
                            brightness(105%) contrast(102%);
                    }
                }
            }

            .mini-header-content {
                color: $clr2;
                font-size: rem(34px);
                padding: 25px 10px;
            }
        }
    }

    .main-header {
        justify-content: space-between;
    }

    .logo-container {
        padding: 20px 0px;
        align-items: center;

        h2 {
            font-size: rem(24px);
            font-family: f-bold;
        }

        .logo {
            font-size: rem(34px);
            margin-right: 8px;
        }
    }

    .menu-actions {
        gap: 20px;
        padding: 20px 0px;
        position: relative;

        a {
            display: flex;
            font-family: f-bold;
            line-height: 1.685;
            align-items: center;
        }

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
        }

        .menu-wrapper {
            height: 42px;
            width: 77px;
            background-color: $clr5;
            line-height: 2;
            border-radius: 1.5rem;
            align-items: center;
            justify-content: center;

            .menu-icon {
                margin-right: 10px;
                height: 18px;
                width: 18px;
            }
        }
    }

    .trip-build-container {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 125%);
        margin: auto;
        background-color: $clr5;
        flex-direction: column;
        justify-content: center;
        border-radius: 100vw;
        transition: width 0.3s, top 0.3s, transform 0.3s;

        .trip-location-selector {
            width: 270px;
            justify-content: center;
            align-items: center;
            padding: 14px 0;

            &:hover {
                background-color: $clr9;
                border-radius: 100vw;
            }

            // .trip-location-selector::after {
            //     background-clip: padding-box;
            //     border: 1px solid $clr5;
            //     content: "";
            //     box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
            // }
        }

        .trip-destination {
            flex-direction: column;
            padding: 0px;
            color: $clr2;
            font-family: f-medium;
            font-size: rem(12px);
        }

        form {
            display: flex;
            .search-input {
                border: none;
                font-size: rem(14px);
            }

            input {
                width: 100%;
                padding: 0;
                font-family: f-light;
                outline-style: none;
                box-shadow: none;
                border-color: transparent;
                font-size: rem(14px);
                background-color: #ffffff00;

                &::-webkit-input-placeholder {
                    color: $clr8;
                    font-family: f-light;
                }
            }

            .trip-selections {
                color: $clr2;
                font-size: rem(14px);
                font-family: f-medium;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 14px 0px;

                > div {
                    padding: 0px 24px;
                    border-left: 1px solid $clr7;
                }

                &:hover {
                    background-color: $clr9;
                    border-radius: 100vw;

                    > div {
                        border-right: none;
                    }
                }

                > :last-child {
                    font-family: f-light;
                    font-size: rem(14px);
                    color: $clr8;
                }

                :not(:last-child) {
                    width: 170px;
                    font-size: rem(12px);
                }
            }
            .search-btn-container {
                justify-content: space-between;
                &:hover {
                    background-color: $clr9;
                    border-radius: 100vw;
                }
                .search-btn {
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .img-container {
                        align-items: center;
                        justify-content: center;
                        height: 47px;
                        width: 47px;
                        border-radius: 50%;
                        margin-right: 8px;
                        background-color: $clr1;
                        .search-btn-img {
                            height: 15px;
                            width: 15px;
                            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg)
                                brightness(105%) contrast(102%);
                        }
                    }
                }
            }
        }
    }
}
